{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="form-signin">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey }}</div>
        {% endif %}
        {{ form_start(form, {'attr' : {'id' : 'loginForm'}}) }}
        <label for="inputUsername">Username</label>
        {{ form_widget(form.email, {'attr': {'name': 'username','id':'inputUsername'}}) }}
        <label for="inputPassword">Password</label>
        {{ form_widget(form.password, {'attr': {'name': 'password','id':'inputPassword'}}) }}
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <br />
        {{ form_widget(form.login)}}

        {{ form_end(form) }}
    </div>
{% endblock %}
